
html,
body {
	height: 100%;
	background-color: #F4F4F4;
	font-family:  'Unica One';
	-webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #544f4f;
	font-weight: 600;
	white-space: nowrap;
}
.clearfix{
	clear: both;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 10px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 14px;
	color: #585858;
	line-height: 1.6;
}

img {
	max-width: 100%;
}
input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

/*---------------------
  Commom elements
-----------------------*/


/* Preloder */

#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #FFFFFF;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #ff6060;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #FEEE00;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #429C44;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #ff6060;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #FEEE00;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #429C44;
		border-left-color: transparent;
	}
}

/*------------------
  Header section
---------------------*/

 .header-section{
	 background-color: #F4F4F4;
 }

 .navbar-brand img{
	max-width: 60%;
 }
.navbar{
	box-shadow: -12px 2px 11px -6px #888888;
	-webkit-box-shadow: -12px 2px 11px -6px #888888;
	-moz-box-shadow: -12px 2px 11px -6px #888888;
	box-shadow: -12px 2px 11px -6px #888888;
	z-index: 6;
} 
.navbar .collapse{
	max-width: 80%;
    margin: auto;
}

#login-dp {
	min-width: 250px;
	padding: 14px 14px 0;
	overflow: hidden;
	background-color: rgba(255, 255, 255, .8);
  }

  #login-dp .help-block {
	font-size: 12px
  }
  
  #login-dp .bottom {
	border-top: 1px solid #ddd;
	clear: both;
	padding: 14px;
  }
  
  #login-dp .form-group {
	margin-bottom: 10px;
  }
  
  @media(max-width:768px) {
	#login-dp {
	  background-color: inherit;
	  color: #fff;
	}
	#login-dp .bottom {
	  background-color: inherit;
	  border-top: 0 none;
	}
  }
  
  .navbar-login {
	width: 305px;
	padding: 10px;
	padding-bottom: 0px;
  }
  
  .navbar-login-session {
	padding: 10px;
	padding-bottom: 0px;
	padding-top: 0px;
  }
  .signin-btn{
	  color: #F8F9FA;
	  background-color:#429C44 ;
  }
	
  .signin-btn:hover{
		border:2px solid #429C44;
		background-color:#F8F9FA ;
		color:#429C44 ;
	}
  

.main-menu {
    list-style: none;
    text-align: center;
}

.main-menu li {
	display: inline-block;
	position: relative;
	text-transform: uppercase;
}

.main-menu li a {
	display: inline-block;
	font-size: 18px;
	color: #000;
	margin-right: 50px;
	line-height: 1;
	padding: 20px 0;
	position: relative;
}

.main-menu li a:after {    
	background: none repeat scroll 0 0 transparent;
	bottom: 0;
	content: "";
	display: block;
	height: 2px;
	left: 50%;
	position: absolute;
	background: #429C44;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
}
.main-menu li a:hover:after { 
	width: 100%; 
	left: 0; 
}
.signin-button { 
	color: rgba(0,0,0,.7);
	background-color: #F8F9FA;
}
.login-dropdown span{
	color: rgba(0,0,0,.7);
}
.main-menu .login-dropdown a:after { 
	display: none; 
}
.main-menu .sub-menu li a:hover:after , .login-drop-down li a:hover:after{ 
	display: none;
}
.main-menu .sub-menu li a:hover { 
	color: #429C44 !important;
}

.main-menu li:hover .sub-menu {
	visibility: visible;
	opacity: 1;
	margin-top: 0;
}

.main-menu li:hover>a {
	color: #429C44;
}

.main-menu .sub-menu {
	position: absolute;
	list-style: none !important;
	width: 220px;
	right: 0;
	top: 100%;
	padding: 20px 0;
	visibility: hidden;
	opacity: 0;
	margin-top: 50px;
	background: #F4F4F4;
	z-index: 99;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	-webkit-box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.05);
	box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: 3px 3px 16px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 3px 16px -5px rgba(0,0,0,0.75);
	box-shadow: 3px 3px 16px -5px rgba(0,0,0,0.75);
}

.main-menu .sub-menu li {
	display: block !important;
}

.main-menu .sub-menu li a {
	display: block;
	color: #000;
	margin-right: 0;
	padding: 8px 20px;
}

.main-menu .sub-menu li a:hover {
	color: #429C44;
}

.nav-switch {
	display: none;
}
/* ----------------
  top section
---------------------*/
.cover-img{
	width: 100%;
    z-index: 1;
}
.top-section p{
	z-index: 6;
    position: relative;
	color: #60BA62;
	text-shadow: 21px 11px 9px rgba(25,11,7,0.47);
}

/* ----------------
  weeks nav  section
---------------------*/
.nav-tabs.weeks-nav li {
	margin-bottom: none;
	position: initial;
	border-bottom: 0px solid;
	width: 25%;
	text-align: center;
	margin-bottom:-5px;
	text-shadow: 11px 3px 8px rgba(25,11,7,0.47);
  }
  
  .nav-tabs.weeks-nav li a {
	position: initial;
	border-bottom: 0px solid;
	background: transparent;
	border: none;
	color: gray;
  }
  
  .nav-tabs.weeks-nav li.active > a:focus,
  .nav-tabs.weeks-nav li.active > a:hover{
	border-width: 0;
	color: #429C44;
	font-weight: bold;
	border-radius:0px;
  }
.nav-tabs.weeks-nav li a.active:after {
	width: 100%; 
	left: 0; 
}
.nav-tabs.weeks-nav li a.active {
	color: #429C44;
	font-weight: bold;
}
.nav-tabs.weeks-nav li a:after {    
	background: none repeat scroll 0 0 transparent;
	bottom: 0;
	content: "";
	display: block;
	height: 2px;
	left: 50%;
	position: relative;
	background: #429C44;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
}
.nav-tabs.weeks-nav li a:hover:after { 
	width: 100%; 
	left: 0; 
}

.nav-tabs {
	border: 0;
} 



/* ----------------
  modal nav  section
---------------------*/
.modal-tabs.sources-nav li {
	margin-bottom: none;
	position: initial;
	border-bottom: 0px solid;
	width: 25%;
	text-align: center;
	margin-bottom:-5px;
	text-shadow: 11px 3px 8px rgba(25,11,7,0.47);
  }
  .modal-tabs li {
	margin: 0.8%;
	width: 15%;
  }
  .modal-tabs li.active {
	border: 5Px solid white;
	opacity: 0.5;

  }
  
  .modal-tabs.sources-nav li a {
	position: initial;
	border-bottom: 0px solid;
	background: transparent;
	border: none;
	color: gray;
  }
  
  .modal-tabs.sources-nav li.active > a:focus,
  .modal-tabs.sources-nav li.active > a:hover{
	border-width: 0;
	color: #429C44;
	font-weight: bold;
	border-radius:0px;
  }
  .modal-tabs.sources-nav li a.active:after {
	width: 100%; 
	left: 0; 
}
.modal-tabs.sources-nav li a.active {
	color: #429C44;
	font-weight: bold;
}
.modal-tabs.sources-nav li a:after {    
	background: none repeat scroll 0 0 transparent;
	bottom: 0;
	content: "";
	display: block;
	height: 2px;
	left: 50%;
	position: relative;
	background: #429C44;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
}
.modal-tabs.sources-nav li a:hover:after { 
	width: 100%; 
	left: 0; 
}
.modal-tabs {
	border: 0;
	margin: auto;
} 
.modal-facts{
	margin: 3%;
}
.single-source{
	margin: 2%;
    border: 1px solid grey;
	border-radius: 8px;
}
.single-dish{
	margin: 0;
	padding: 2%;
}
.single-dish-wrapper{
	border-bottom: 1px solid #bfb9b9;
}

/* ----------------
  days nav section
---------------------*/
.nav-tabs.days-nav li {
	margin-bottom: none;
	position: initial;
	width:100%;
	border-bottom: 0px solid;
	text-align: center;
	margin-bottom:-5px;
  }
  
  .nav-tabs.days-nav li a {
	position: initial;
	border-bottom: 0px solid;
	background: transparent;
	border: none;
	color: gray;
  }

.nav-tabs.days-nav li a.active {
	border-bottom: 2.5px solid #429C44;
    color: #429C44;
    font-size: 2.5rem;
	font-weight: bold;
	text-transform: uppercase;

}
.nav-tabs.days-nav li a:after {    
	background: none repeat scroll 0 0 transparent;
	bottom: 0;
	display: none;
	content: "";
	display: block;
	height: 2px;
	left: 50%;
	position: relative;
	background: #429C44;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
}
.source-info{
	padding: 1% 2%;
	letter-spacing: 1px;
	font-weight: bold;
}
.fa-gift{
	font-size: 200%;
	padding-left: 2%;
	color: #dc3545!important;
	/*font-size: 150%;*/
}
.weight-btn{
	color: #F8F9FA;
	background-color:#60BA62;
}

.weight-btn:hover{
	border:1px solid #429C44;
	background-color:#F8F9FA ;
	color:#429C44 ;
}
.repeat-week-btn{
	color: #F8F9FA;
	background-color:#429C44 ;
	padding-top: 9px;
	float: right;
}
.days-card{
	margin-top: 1%;
	-webkit-box-shadow: 9px 17px 20px -4px rgba(99,99,99,0.22);
	-moz-box-shadow: 9px 17px 20px -4px rgba(99,99,99,0.22);
	box-shadow: 9px 17px 20px -4px rgba(99,99,99,0.22);
	animation: fadeInRight; 
	animation-duration: 2s;
	border-radius: 9px;
}
.repeat-week-btn:hover{
	  border:2px solid #429C44;
	  background-color:#F8F9FA ;
	  color:#429C44 ;
  }
  .bg-dark-grey{
	  background-color: #ddd7d7;
	  border-radius: 10px;
	  margin: 0;
	  padding: 30px;
	  animation: fadeInRight; 
	  animation-duration: 1s; 
  }
  .bg-dark-grey h3, .bg-light-grey h3{
	color: #544f4f;
	text-transform: uppercase;
  }
  
  .bg-light-grey{
	background-color: #F4F4F4;
	border-radius: 10px;
	margin: 0;
	padding: 25px;
}
.modal-content .bg-light-grey{
	margin: 1% auto;
    width: 96%;
}
.img-hover-zoom {
	 height: 200px;
	overflow: hidden;
	display: inline-table;
  }
.img-hover-zoom img {
	transition: transform .5s ease;
}
.img-hover-zoom:hover img {
	transform: scale(1.2);
}
.meal h3{
	 padding-top: 4%;
	color: #429C44;
	text-decoration: none;
	text-transform: lowercase;
}
.panel-thumbnail{
	height: 265px;
}
.tab-pane .add{
	border: 1px solid #429C44;
    border-radius: 100%;
    width: 58px;
    height: 58px;
    display: block;
    text-align: center;
    line-height: 57px;
    text-decoration: none;
    float: right;
    margin-right: 2%;
    margin-top: 2%;
}
.tab-pane .add span{
  font-size:6em;
  color: #429C44;
}
.single-day h4{
	color: #fff;
}
.food-icon{
	width: 6%;
    margin: auto;
}
.food-caption{
	margin: auto;
	color: #544f4f;
	padding-top: 1%;
}
.es-carousel ul{
	display:block !important;
}
.rg-image{
	
}
	
.content {
	position: relative;
	width: 90%;
	max-width: 400px;
	margin: auto;
	overflow: hidden;
  }

  .content-image{
	width: 100%;
	  height: 200px;
  }
  
  .content-details {
	position: absolute;
	text-align: center;
	padding-left: 1em;
	padding-right: 1em;
	width: 100%;
	top: 50%;
	left: 50%;
	opacity: 0;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
  }
  
  .content:hover .content-details{
	top: 50%;
	left: 50%;
	opacity: 1;
  }
  
  .content-details h3{
	color: #fff;
	font-weight: 500;
	letter-spacing: 0.15em;
	margin-bottom: 0.5em;
	text-transform: uppercase;
  }
  
  .content-details p{
	color: #fff;
	font-size: 0.8em;
  }
  
  .fadeIn-bottom{
	top: 80%;
  }
  
/*image scroll*/
.fancybox-slide.watermark .fancybox-spaceball {
	background-size: cover;
	background-repeat: no-repeat;
	width: 10%;
	height: 10%;
	margin: 15px 0 0 20px;
}


/*SCROLL SNAP SYLES*/
.scroll-containerapp {
	position: relative;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	width: 100%;
	height: 200px;
	scroll-snap-type: mandatory;
	scroll-behavior: smooth;
	background: #eee;
	border: solid 1px #ccc;
	font-size: 0px;
	margin-bottom: 50px;
}

.scroll-containerapp .scroll-section {
	display: inline-block;
	vertical-align: middle;
	background: #fff;
	border: solid 1px #ccc;
	white-space: nowrap;
}
/*Slider X (different sized images)*/

.scroll-containerapp.diff-size {
	scroll-snap-destination: 100% 0%;
	padding: 10px 0px;
}

.scroll-containerapp.diff-size .scroll-section {
	width: auto;
	height: 100%;
	margin-right: 0px;
	scroll-snap-coordinate: 100% 0%;
}

.scroll-containerapp.diff-size .scroll-section:first-child {
	scroll-snap-coordinate: 0% 0%, 100% 0%;
	margin-left: 10px;
}

.scroll-containerapp.diff-size .scroll-section:last-child {
	scroll-snap-coordinate: 50% 0%, 100% 0%;
}
.gallery{
	width:100%;
	display:inline;
}
.scroll-containerapp img{
	max-width:100%;
}


.modal-title{
	position: absolute;
}

.center-meals{
	    width: 40%;
    height: 34%;
    z-index: 2;
}
.slick-slider{
	position: absolute !important;
    left: 17%;
}
.test{
	background-color:yellow;width:2000px;height:300px;
}

/* ----------------
  Footer section
---------------------*/

.footer-section{
	background-color: #60BA62;
	width: 100%;
	position: fixed;
	bottom: 0px;
	padding: 16px;
	z-index: 4;
}

.copyright{
	font-size: 1.4rem;
}

.copyright span{
    font-size: 1.9rem;
    position: relative;
	bottom: -6px;
	color: white;
}
.copyright p{
	margin:0 auto;
	letter-spacing: 0.15em;
    font-size: 1.2rem;
}

/* ----------------
  Responsive
---------------------*/

@media (min-width: 1200px) {
	.container {
		max-width: 1171px;
	}
	.sub-menu {
		list-style: none;
	}
	.top-section p{
		top: -250px;
		left: 35%;
		font-size: 3rem;
	}
	.responsive-p{
		font-size: 3rem;
	}
	.responsive-h4{
		font-size: 2.7rem;
	}
	.tab-content .fa-gift{
		font-size: 200% !important;
	}

}

@media (max-width: 1350px) {
	.sub-menu {
		list-style: none;
	}
}

/* Medium screen : 992px. */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.navbar-nav .nav-link{
		font-size: 0.8rem;
	}
	.navbar .collapse{
		max-width: 100%;
	}
	.top-section p{
		top: -250px;
		left: 30%;
		font-size: 3rem;
	}
	.responsive-p{
		font-size: 3rem;
	}
	.responsive-p{
		font-size: 2.6rem;
	}
	.acordion .row .col {
		/*flex: 0 !important;*/
	}
	.weight_value {
		flex-basis: 100% !important;
	}
	.responsive-h4{
		/*padding-top: 16%;*/
		font-size: 2.7rem;
	}
	.custom-checkbox{
		margin: 0;
	}
	.dish-input-check{
		/*flex: 1 !important;*/
	}
	.bg-dark-grey h3, .bg-light-grey h3{
		font-size: 1.5rem;
	}

	.tab-content .fa-gift{
		font-size: 180% !important;
	}

	.source-info{
		font-size: 20px;
	}
}
@media only screen and (max-width: 991px) {
	.site-logo img{
		width: 30%;
	}
	.navbar-nav li{
		text-transform: uppercase;
	}
	.top-section p{
		top: -250px;
		left: 35%;
		font-size: 2rem;
	}
	.responsive-p{
		font-size: 2rem;
	}
	.bg-dark-grey h3, .bg-light-grey h3{
		font-size: 1.5rem;
	}

	.tab-content .fa-gift{
		font-size: 150% !important;
	}

}
/* Tablet :768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.site-logo {
		margin-bottom: 20px;
	}
	.sub-menu {
		list-style: none;
	}
	.sub-menu li a{
		margin-left: 29px;
    	color: black !important;
	}
	.sub-menu li a:hover{
    	color: #429C44 !important;
	}
	.navbar-nav li{
		text-transform: uppercase;
	}
	.navbar-nav .nav-link{
		font-size: 0.8rem;
	}
	.navbar .collapse{
		max-width: 100%;
	}
	.top-section p{
		top: -200px;
		left: 30%;
		font-size: 2.5rem;
	}
	.responsive-p{
		font-size: 2.5rem;
	}
	.bg-dark-grey h3, .bg-light-grey h3{
		font-size: 1.5rem;
	}
	#plus{
		flex: 0 !important;
	}

	.tab-content .fa-gift{
		font-size: 150% !important;
	}

	.source-info{
		font-size: 18px;
	}
}

/* Large Mobile :480px. */

@media only screen and (max-width: 767px) {
	.site-logo {
		margin-bottom: 20px;
	}
	.site-logo img{
		width: 30%;
	}
	
	.sub-menu {
		list-style: none;
	}
	.sub-menu li a{
		margin-left: 29px;
    	color: black !important;
	}
	.sub-menu li a:hover{
    	color: #429C44 !important;
	}
	.navbar-nav li{
		text-transform: uppercase;
	}
	.top-section p{
		top: -150px;
		left: 26%;
		font-size: 1.6rem;
	}
	.responsive-p{
		font-size: 1.6rem;
	}
	.bg-dark-grey h3, .bg-light-grey h3{
		font-size: 1rem;
	}
	h5{
		font-size: 11px;
	}

	.tab-content .fa-gift{
		font-size: 150% !important;
	}

}

/* Medium Mobile :480px. */

@media only screen and (min-width: 576px) and (max-width: 766px) {
	.sub-menu {
		list-style: none;
	}
	.sub-menu li a{
		margin-left: 29px;
    	color: black !important;
	}
	.sub-menu li a:hover{
    	color: #429C44 !important;
	}
	.navbar-nav li{
		text-transform: uppercase;
	}
	.top-section p{

		top: -150px;
		left: 26%;
		font-size: 1.6rem;
	}
	.responsive-p{
		font-size:1.6rem;
	}
	.responsive-h4{

		padding-top: 16%;
		font-size: 1.6rem;

	}

	.bg-dark-grey h3, .bg-light-grey h3{
		font-size: 1rem;
	}
	h5{
		font-size: 11px;
	}
	h4{
		font-size: 20px;
	}
	.input_div label{
		/*font-size: 0.8rem;*/
	}

	.source-info{
		font-size: 16px;
	}
	.tab-content .fa-gift{
		font-size: 150% !important;
	}

}

/* Small Mobile :320px. */


@media only screen and (max-width: 479px) {
	.sub-menu {
		list-style: none;
	}
	.sub-menu li a{
		margin-left: 29px;
    	color: black !important;
	}
	.sub-menu li a:hover{
    	color: #429C44 !important;
	}
	.navbar-nav li{
		text-transform: uppercase;
	}
	.top-section p{

		top: -150px;
		left: 26%;
		font-size: 1.6rem;
	}
	.responsive-p{
		font-size: 1.6rem;
	}
	.responsive-h4{
		font-size: 2rem;
	}
	.bg-dark-grey h3, .bg-light-grey h3{
		font-size: 1rem;
	}
	h5{
		font-size: 11px;
	}
	h4{
		font-size: 16px;
	}

	.input_div label{
		/*font-size: 0.8rem;*/
	}

	.source-info{
		font-size: 16px;
	}
	.tab-content .fa-gift{
		font-size: 150% !important;
	}
}

@media only screen and (max-width: 504px) {
	.responsive-h4{
		font-size: 2rem;
	}
	h4{
		font-size: 16px;
	}

	.source-info{
		font-size: 16px;
	}
	.tab-content .fa-gift{
		font-size: 150% !important;
	}
}



.acordion{
	width: 100%;
    margin: auto;
}
.input_div{
	display: flex;
	flex-wrap: wrap;
}
.weight_value{
	flex-basis: 30% !important;
}
.input_div label{
	flex-basis: 100%;
    padding: 0;
    margin-bottom: 0.4em;
    /*font-size: 1.3rem;*/
    font-weight: bold;
    border: 0;
	background-color: transparent;
}
.hidden_input{
	display: none;
}
.input_div input{
	flex-basis: 0px;
	flex-grow: 1;
}
.acordion input {
	/* position: absolute; */
	opacity: 0;
	z-index: -1;
}
.acordion .row {
	display: flex;
}
.acordion .row .col {
	flex: 0;
}l
.acordion .tabs {
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}
.acordion .tab {
	width: 100%;
	color: white;
	overflow: hidden;
}
.acordion .tab-label {
	display: flex;
    justify-content: space-between;
    padding: 0.8em;
    font-size: 1.4rem;
    margin: 0;
    background: #60ba62;
    font-weight: bold;
    cursor: pointer;
	
   /* Icon */
}
.acordion .tab-label:hover {
	background: #46a148;
}
.acordion .tab-label::after {
	content: "\276F";
	width: 1em;
	height: 1em;
	text-align: center;
	transition: all 0.35s;
}
.acordion .tab-content {
	max-height: 0;
	padding: 0 1em;
	color: #60ba62;
	background: white;
	transition: all 0.35s;
}
.acordion .tab-close {
	display: flex;
	justify-content: flex-end;
	padding: 1em;
	font-size: 0.75em;
	background: #60ba62;
	cursor: pointer;
}
.acordion .tab-close:hover {
	background: #46a148;
}
.acordion input:checked + .tab-label {
	background: #46a148;
}
.acordion input:checked + .tab-label::after {
	transform: rotate(90deg);
}
.acordion input:checked ~ .tab-content {
	max-height: 100vh;
	padding: 1em;
}
.acordion .dish-input-check{
	opacity: 1 !important;
    z-index: 2 !important;
}



.custom-checkbox{
	border-radius: 10px !important;
	width: 36px !important;
	height: 28px !important;
	font-size: 1.8em !important;

	border: 6px solid #74e076 !important;
	transition: all 0.4s ease-in-out !important;
	margin: auto !important;
	color: #74e076 !important;
	transform: scale(1) !important;
	position: relative!important;
	opacity: 1 !important;
	z-index: 2 !important;
	margin: 25% !important;
}

.green{
	color: #429C44 !important;
}